<!DOCTYPE HTML>

<html>

<head>
	<title>Focused Group</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="https://img.icons8.com/dusk/64/null/internet--v1.png" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

	<!-- For jinja2 -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}">
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1>Focused Group<br />
			</h1>
			<p>「投資未來，享受人生」
				(Invest in the future, enjoy life) <br />
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="#nav" class="logo">Focused Group</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="#">聚焦金融</a></li>
				<li><a href="member.html">專業團隊</a></li>
				<!-- Change automatically to other Path if this cannot use -->
				<li><a id="myLink" href="stock/templates/frontpage.html">成果展示</a></li>
			</ul>
			<ul class="icons">
				<li><a href="https://github.com/Ynot1996/focusedgroup" class="icon brands fa-github"
						target="_blank"><span class="label">GitHub</span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Featured Post -->
			<article class="post featured">
				<header><span class="date">May 12, 2023</span>
					<h2><a>未來的股市?<br />Stock Forecast</a></h2>
					<p>近年來學會如何投資理財已經變成大家必備的能力。如何在最短時間內，將自己的利益最大化成了一個艱難的問題。而我們想利用LSTM演算法搭配模型來預測股票的走勢，並希望以簡單、明瞭的操作介面讓各個年齡層的人都能輕鬆使用。若是能準確預測，那便可在投資方面占得先機、提前部署，減少不必要的虧損。
					</p>
				</header>
				<a class="image main"><img src="../static/assets/images/01.jpg" alt=""></a>

			</article>

			<!-- Posts -->
			<section class="posts">

				<article>
					<header>
						<span class="date">2023年4月14日</span>
						<h2><a>ChatGPT竟能預測股價！<br />AI秒精準給出隔天走勢</a></h2>
					</header>
					<a class="image fit"><img src="../static/assets/images/02.jpg" alt="" width="500px"
							height="300px" /></a>
					<p>ChatGPT出現後，不少產業出現了被取代的危機，尤其攸關計算的職務甚至更加的焦慮。近期佛羅里達大學金融學教授Alejandro
						Lopez-Lira就表示，ChatGPT竟然能預測隔日股價走勢，甚至比隨機預測來得好。
					</p>
					<ul class="actions special">
						<li><a href="https://tw.news.yahoo.com/chatgpt%E7%AB%9F%E8%83%BD%E9%A0%90%E6%B8%AC%E8%82%A1%E5%83%B9-%E5%B0%88%E5%AE%B6%E5%83%85%E8%BC%B8%E5%85%A5-%E9%87%91%E8%9E%8D%E6%96%B0%E8%81%9E%E8%A7%A3%E6%9E%90-ai%E7%A7%92%E7%B2%BE%E6%BA%96%E7%B5%A6%E5%87%BA%E9%9A%94%E5%A4%A9%E8%B5%B0%E5%8B%A2-030833174.html"
								target="_blank" class="button">完整新聞</a></li>
					</ul>
				</article>

				<article>
					<header>
						<span class="date">2023年2月16日</span>
						<h2><a>量子技術突破帶來計算機革命<br /><br /></a></h2>
					</header>
					<a class="image fit"><img src="../static/assets/images/03.jpg" alt="" width="500px"
							height="300px" /></a>
					<p>研究人員離實現製造多任務的「量子」計算機又近了一步，那將是比現有的最先進的超級計算機更強大的計算機。
						英國蘇塞克斯大學（Sussex University）的研究團隊實現了在電腦芯片之間以前所未有的速度和精度傳送量子信息。
					</p>
					<ul class="actions special">
						<li><a href="https://www.bbc.com/zhongwen/trad/science-64638824" target="_blank"
								class="button">完整新聞</a></li>
					</ul>
				</article>

				<article>
					<header>
						<span class="date">2023年4月28日</span>
						<h2><a>無螢幕全聲控的 AI 應用體驗<br />新創公司 Humane 線上展示 AI 投影穿戴式裝置</a></h2>
					</header>
					<a class="image fit"><img src="../static/assets/images/04.jpg" alt="" width="500px"
							height="300px" /></a>
					<p>當前人類正透過各式各樣的螢幕與各種科技接觸，但螢幕真的是人類使用科技的唯一管道與介面嗎？為了打破這樣的侷限，由蘋果前員工 Imran Chaudhri 和 Bethany Bongiorno
						創立的 Humane 新創公司推出了基於 AI 投影的穿戴式裝置，進而讓使用者享受免螢幕、無縫式及感應式應用體驗。
					</p>
					<ul class="actions special">
						<li><a href="https://technews.tw/2023/04/28/heres-a-video-of-humanes-wearable-ai-projector-in-action/"
								target="_blank" class="button">完整新聞</a></li>
					</ul>
				</article>

				<article>
					<header>
						<span class="date">2023年4月24日</span>
						<h2><a>AI如何跟區塊鏈技術結合？<br />「區塊鏈、AI與永續」產業高峰會，拆解加密產業下一步</a></h2>
					</header>
					<a class="image fit"><img src="../static/assets/images/05.jpg" alt="" width="500px"
							height="300px" /></a>
					<p>本高峰會活動以專場與圓桌論壇進行交流，探討產業生態系整合、AI人工智能的應用、區塊鏈在健康長照、VR元宇宙等領域的應用，以及如何落地台灣場域的應用。此外，更關注於其經濟價值和法律政策，幫助產業各方更深了解未來走向，實現綠色經濟、社會責任等永續發展價值。
					</p>
					<ul class="actions special">
						<li><a href="https://www.bnext.com.tw/article/74962/ai-blockchain-summit" target="_blank"
								class="button">完整新聞</a></li>
					</ul>
				</article>

			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<form method="post" action="#">
					<div class="fields">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="3"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="contant us" /></li>
					</ul>
				</form>
			</section>

			<section class="split contact">

				<section class="alt">
					<h3>地址</h3>
					<p>台北市復興南路二段237號4樓<br /></p>
				</section>

				<section>
					<h3>電話</h3>
					<p><a>(02) 2370-1111</a></p>
				</section>

				<section>
					<h3>Email</h3>
					<p><a>magisystem6@gmail.com</a></p>
				</section>

				<section>
					<h3>Social</h3>
					<ul class="icons alt">
						<li><a href="https://github.com/Ynot1996/focusedgroup" class="icon brands alt fa-github"
								target="_blank">
								<span class="label">GitHub</span></a></li>
					</ul>
				</section>

			</section>

		</footer>

	</div>

	<!-- Scripts -->

	<!-- 首頁按鈕無法連至frontpage.html(因路徑錯誤時，嘗試第二個路徑) -->
	<!-- <script>
		var link = document.getElementById("myLink");
		link.addEventListener("click", function (event) {
			event.preventDefault();
			checkLink();
		});

		function checkLink() {

			var xhr = new XMLHttpRequest();
			xhr.open("HEAD", "stock/templates/frontpage.html", true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
						window.location.href = "stock/templates/frontpage.html";
					} else {
						window.location.href = "FG Finance/frontpage.html";
					}
				}
			};
			xhr.send();
		}
	</script> -->

	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

	<!-- For Jinja2 -->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>